@model DesafioGClaims.ViewModels.IndexCharViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="h2 text-primary">Lista de heróis </h2>
        </div>
        <div class="col-6">
            @using (Html.BeginForm(actionName:"SearchCharacters", controllerName:"Characters", FormMethod.Get))
            {
                <div class="input-group">
                    <input type="text" class="form-control" name="searchString" placeholder="Buscar personagens">
                    <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <br /><br />
</div>



<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th scope="col">
                Personagem
            </th>
            <th scope="col">
                Descrição
            </th>
            <th scope="col">
                Favoritar
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var character in Model.FavoriteCharacters)
        {
            <tr>
                <th scope="row" width="20%">
                    @Html.ActionLink(linkText: character.Name,
                        actionName: "Details",
                        controllerName: "Characters",
                        routeValues: new { characterId = character.Id },
                        htmlAttributes: new { @class = "btn btn-link" })
                </th>
                <td width="50%">
                    @character.Description
                </td>
                <td width="15%">
                    @using (Html.BeginForm(
                        actionName:"UnFavorite",
                        controllerName:"Characters",
                        routeValues:  new { characterId = character.Id }, 
                        FormMethod.Post))
                    {
                        <button>Desfavoritar</button>
                    }
                </td>
            </tr>
        }

        @foreach (var character in Model.GeneralCharacters)
        {
            <tr>
                <td width="20%">
                    @Html.ActionLink(linkText: character.Name,
                        actionName: "Details",
                        controllerName: "Characters",
                        routeValues: new { characterId = character.Id },
                        htmlAttributes: new { @class = "btn btn-link" })
                </td>
                <td width="50%">
                    @character.Description
                </td>
                <td width="15%">
                    @using (Html.BeginForm(
                        actionName:"Favorite",
                        controllerName:"Characters",
                        routeValues:  new { characterId = character.Id }, 
                        FormMethod.Post))
                    {
                        <button>Favoritar</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<footer>
    <p>Data provided by Marvel. © @DateTime.UtcNow.Year Marvel</p>
</footer>